<!-- <div class="container-fluid border-bottom bg-light">
  <h3>DIGILET</h3>
  <a routerLink="/">dashboard</a>
  <a routerLink="/">bandeja</a>
  <a routerLink="/">letra</a>
  <a routerLink="/">planilla</a>
</div> -->

<header class="container-fluid border-bottom bg-light">
  <div class="row">
    <div class="col-10 col-sm-4 col-md-3 pt-3">
      <h6 class="d-inline-block">SOPA DE LETRAS</h6>
    </div>
    <div class="col-md-4 offset-md-1 text-center pt-3 fs-14 d-flex justify-content-around">
      <p routerLink="/dashboard">Dashboard</p>
      <p routerLink="/inbox">Bandeja</p>
      <p routerLink="/singles">Letra</p>
      <p routerLink="/stack">Planilla</p>             
    </div>
  </div>
</header>  
