<app-header></app-header>
<div class="container-fluid">
  <div class="row py-2">
    <div class="col-md-9">
      <h6>Generación de Letras</h6>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-secondary btn-sm ">BOTON</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mb-5">
    <!-- left side -->
    <div class="col-md-7 border border-danger px-0">
      <form class="container-fluid" (ngSubmit)="onSubmit()" #singleForm="ngForm">
        <div class="row">
          <div class="col-md-8 form-group input-group-sm">
            <label for="name">Nombre del girador</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name">
          </div>
          <div class="col-md-4 form-group input-group-sm">
            <label for="date">Fecha de giro</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="model.date" name="date">
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 form-group input-group-sm">
            <label for="reference">Referencia</label>
            <input type="text" class="form-control" id="reference" [(ngModel)]="model.reference" name="reference">            
          </div>
          <div class="col-md-5">
            <label for="place">Lugar de giro</label>
            <select id="place" class="custom-select custom-select-sm" [(ngModel)]="model.place" name="place">
              <option *ngFor="let plc of places" [value]=plc>{{plc}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 form-group input-group-sm">
            <label class="quantity" for="ipt-quantity">Cantidad</label>
            <input type="text" class="form-control" id="quantity" [(ngModel)]="model.quantity" name="quantity">
          </div>
          <div class="col-md-2 form-group input-group-sm">
            <label class="amount">Monto</label>
            <input type="text" class="form-control" id="amount" [(ngModel)]="model.amount" name="amount">
          </div>
          <div class="col-md-4">
            <label class="frecuency">Frecuencia de pago</label>
            <select id="frecuency" class="custom-select custom-select-sm" [(ngModel)]="model.frecuency" name="frecuency">
              <option *ngFor="let frc of frecuency" [value]="frc">{{frc}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="submit" id="generate" class="btn btn-light px-4 border"
            [disabled]=!singleForm.form.valid>CREAR</button>
          </div>
        </div>
      </form>
      <!-- Sección que se GENERA -->
      <div class="container-fluid" [hidden]="!submitted">
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">N° de letra</th>
              <th scope="col">Monto</th>
              <th scope="col">Fecha de Vencimiento</th>
              <th scope="col">Ver</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of dataGenerated;let i = index" [attr.data-index]="i">
            <tr>
              <td>{{i}}</td>
              <td>{{data.number}}</td>
              <td>{{singleAmount}}</td>
              <td>{{model.date}}</td>
              <td><i class="fas fa-eye"></i></td>
            </tr>
          </tbody>
        </table>
        <div class="row py-3">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-sm mr-2">GENERAR</button>
            <button type="button" class="btn btn-link border border-primary btn-sm" (click)="onReset()">LIMPIAR</button>
          </div>
        </div>
      </div>
       <!-- *** -->
    </div>
    <!-- right side -->
    <div class="col-md-5 border border-warning">
      <input type="text" [(ngModel)]="userName">
      <p>{{ userName }}</p>
      <button type="button" class="btn btn-link border border-primary" [disabled]="userName === ''"
      (click)="resetingInput()">LIMPIAR</button>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>{{diagnostic}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="mt-5"></app-footer>